body {
	margin: 0;
	font-family: sans-serif;
}
/* header */
	.page-header {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100vh;

		background-color: hsl(300, 50%, 40%);
		background-image: url(https://www.supersadovnik.ru/binfiles/images/20200512/b4252f8a.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;

	}
	.main-heading {
		padding: 5vh 2vh;
		margin: 0;
		text-align: center;
		font-size: 3em;
		color: #fff;
		background-color: hsla(300, 50%, 40%, 0.7);
	}

/* section */
	.section:nth-child(2n) {
		background-color: hsla(294, 100%, 29%, 1);
	}
	.section:nth-child(2n+1) {
		background-color: hsla(284, 100%, 29%, 1);
	}

	.section {
		padding: 5vh 2vh;
		color: #fff;
	}
	.section-heading {
		font-size: 2em;
	}
	.paragraph {
		font-size: 1.5em;
	}

	.img {
		max-width: 100%;
	}

	.galary {
		display: grid;
		grid-template-columns: repeat(4, 90%);
		grid-gap: 20px;
		overflow-x: scroll;
	}

/* footer */ 
	.page-footer {
		background: hsla(284, 100%, 14%, 1);
		padding: 5vh 2vh;
	}
	.footer-ul {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding: 0;
		list-style: none;
	}

	.footer-link:link {
		display: block;

		padding: 20px;
		font-size: 1.5em;
		text-decoration: none;
		color: #fff;
	}
	.footer-link:visited {
		color: #fff
	}